p{
    font-family: 'Open Sans', sans-serif;
}
.featureList{
    box-shadow:0px 5px 25px 6px rgba(3,31,51,0.33);
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #031F33;
    color: azure;
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.hasVoted{
    background-color: lightseagreen;
}
.user{
    padding: 20px;
    background-color: #734B88;
}
.user p{
    color: azure;
}
.selected-feature{
    background-color: #5e5e5e;
}