:root{
    --bg-med-blue: #03156B;
    --font-color-light: #C6C9DB;
    --color-dark-blue: #031F33;
    --button-color-purple: #734B88;
    --color-green: #17D4CD;
    --dark-grey: #010101;
    --unselect-grey: #cacaca;
    --bg-grey: #e6e6e6;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Roboto", sans-serif;
}
h3{
    font-size: 20px;
}
p{
    font-family: 'Open Sans', sans-serif;
}

input, textarea, select{
    border-radius: 0.2em;
}

.featureList{
    box-shadow:0px 5px 20px 2px rgba(3,31,51,0.23);
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #031F33;
    color: azure;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #031F33;
    border-radius: 1em;
}
.featureList h4, .featureList p{
    line-height: 1;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 5px;
}

.hasVoted{
    background-color: lightseagreen;
}
.user{
    padding: 20px;
    background-color: #734B88;
}
.user p{
    color: azure;
}
.selected-feature{
    background-color: #734B88;
}

.addMore{
    border: none;
    width: 64px;
    height: 32px;
    background-color: #eee;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}
.addMore:hover{
    border: 1px solid #888;
    background-color: #ddd;
}

.bigDif{
    background: red;
}
.wurdeBewertet{
    background-color: #5e5e5e;
}

#feature-input-row, #result{
    display: none;
}

#index-pagecontainer, #content {
    background-color: var(--bg-med-blue);
    height: 100%;
    min-height: 100vh;
    overflow: auto;
}
#content{
    overflow: visible;
}

#index-pagecontainer .grid-container, #content{
    background-color: var(--bg-med-blue);
    min-height: 100vh;
}
#index-pagecontainer , #index-pagecontainer label, #index-pagecontainer p{
    color: var(--font-color-light);
}
#index-pagecontainer h1{
    color: var(--color-green);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 48px;
    -webkit-text-shadow: 0px 12px 36px 8px rgba(1,1,1,0.63);
    text-shadow: 0px 12px 36px 8px rgba(1,1,1,0.63);

}

#index-pagecontainer #create-box .callout , #index-pagecontainer #join-box .callout {
    background-color: var(--color-dark-blue);
    -webkit-box-shadow: 0px 12px 36px 8px rgba(1,1,1,0.63);
    box-shadow: 0px 12px 36px 8px rgba(1,1,1,0.63);
    color: var(--font-color-light);
}
#index-pagecontainer .callout select option{
    padding: 17px 20px;
}
#index-pagecontainer .callout select{
    color: var(--unselect-grey);
    /*appearance: none;*/

    border: 1px solid var(--bg-med-blue);
    /*padding: 0.25em 0.5em;*/
    /*font-size: 1.25rem;*/
    cursor: pointer;
    /*line-height: 1.1;*/
    background-color: #fff;
    /*background-image: linear-gradient(to top, #f9f9f9, #fff 33%);*/
    position: relative;
}
#index-pagecontainer .callout select.selected-option{
    color: var(--dark-grey);
}
#index-pagecontainer .callout select option{
    color: var(--dark-grey);
}
#index-pagecontainer .callout select .default-option, #index-pagecontainer .callout select:invalid{
    color: var(--font-color-light);
}

#index-pagecontainer #join-box button, #index-pagecontainer #create-box button{
    background-color: var(--button-color-purple);
}
#footer, #footer a{
    text-align: center;
    color: var(--font-color-light);
}
::-moz-selection { background: var(--color-green); }
::selection {
    background: var(--color-green);
}
[hidden] {
    display: none;
}
#voting-panel{
    display: none;
}
#inviteModal{
    padding-right: 4rem;
}
.top-bar i{
    font-size: 2em;
    color: var(--button-color-purple);
}
.top-bar, .top-bar-left, .top-bar-right, .menu{
    color: var(--button-color-purple);
    background-color: transparent!important;
}
.menu{
    align-items: center;
}
#open-feature-input{
    box-shadow: none;
    border: 0px;
    border-radius: 1em;
    width: 100%;
    background-color: transparent;
    color: var(--color-dark-blue);
    font-weight: bold;
}

#featurePanel input, #featurePanel textarea{
    border-radius: 1em;
    border: 0px solid;
    background-color: var(--unselect-grey);
}
#open-feature-input-row{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}