:root {
    --bg-med-blue: #03156b;
    --font-color-light: #C6C9DB;
    --color-dark-blue: #031f33;
    --button-color-purple: #734B88;
    --color-green: #17d4cd;
    --dark-grey: #484747;
    --unselect-grey: #d9d9d9;
    --bg-grey: #e6e6e6;
    --light-purple: #B084C4;
    --card-grey: #e8e8e8;
    --mid-grey: #b9b9b9;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Roboto", sans-serif;
}

/*h3 {*/
/*    font-size: 20px;*/
/*}*/

p {
    font-family: 'Open Sans', sans-serif;
}

#pageContainer .off-canvas-wrapper {
    overflow: visible;
    min-height: 100vh;
}

#pageContainer h3 {
    color: var(--color-green);
    letter-spacing: 0.5px;
}

input, textarea, select {
    border-radius: 0.2em !important;
}

.featureList {
    /*box-shadow: 0px 5px 2px 2px rgba(3, 31, 51, 0.23);*/
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    background-color: var(--unselect-grey);
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    border-color: #031F33;
    border-radius: 0.6em;
}

.featureList h4, .featureList p {
    line-height: 1;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 5px;
}

.featureList h4 {
    padding-right: 15px;
}

.featureList .button {
    margin-bottom: 1px;
    background-color: var(--mid-grey);
    width: 50%;
}
.featureList .button:focus {
    background-color: var(--mid-grey);
}

.user {
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 1em;
    /*border: 3px solid;*/
    background-color: #9cc6c4;
    border-color: var(--color-green);
    color: white;
    font-weight: normal;
    letter-spacing: 0.6px;
}

.hasVoted .user {
    background-color: var(--light-purple);
    border-color: var(--light-purple);
    transition: all ease-in-out 0.2s;

}

.user {
    margin: auto 10px auto 0;
    width: max-content;
}

.test {
    /*text-align: center;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*align-items: end;*/
    position: relative;
    /*width:100%*/
}

.test p {
    margin-bottom: 0 !important;
    margin-left: 30px;

}

.test p::before {

}

.test > p:nth-child(2)::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url("../img/tombstone.svg");
    position: absolute;
    left: 2px;
    background-size: 20px 20px;
}

.test p:nth-child(1)::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url("../img/rocket.svg");
    position: absolute;
    left: 2px;
    background-size: 20px 20px;
}

.test p:nth-child(3)::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
    background-image: url("../img/uhr-2.svg");
    background-size: 20px 20px;
}

.test p, .test div {
    /*display: inline;*/
}

.userDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.selected-feature {
    background-color: #AF9CB9;
}
#featurePanel .button{
    width: 49%;
    min-width: min-content;
}

.addMore {
    border: none;
    width: 64px;
    height: 32px;
    background-color: #eee;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.addMore:hover {
    border: 1px solid #888;
    background-color: #ddd;
}


/*.wurdeBewertet {*/
/*    background-color: #5e5e5e;*/
/*}*/

#footer a {
    color: var(--color-green);
}

#feature-input-row, #result {
    display: none;
}

#result img {
    width: 26%;
}

#index-pagecontainer, #content {
    background: rgb(3, 31, 51);
    background: linear-gradient(45deg, rgba(3, 31, 51, 1) 0%, rgba(3, 21, 107, 1) 40%, rgba(23, 212, 205, 1) 100%);
    height: 100%;
    min-height: 100vh;
    overflow: auto;
}

#content {
    overflow: visible;
    background: transparent;
}

#index-pagecontainer .grid-container, #content {
    background-color: rgba(0, 0, 0, 0);
    min-height: 100vh;
}

#index-pagecontainer, #index-pagecontainer label, #index-pagecontainer p {
    color: var(--font-color-light);
}

#index-pagecontainer h1 {
    color: var(--color-green);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 53px;
    -webkit-text-shadow: 0px 12px 36px 8px rgba(1, 1, 1, 0.63);
    text-shadow: 0px 12px 36px 8px rgba(1, 1, 1, 0.63);
    margin-bottom: 75px;
    margin-top: 60px;

}

#index-pagecontainer #create-box .callout, #index-pagecontainer #join-box .callout {
    background-color: var(--color-dark-blue);
    -webkit-box-shadow: 0px 12px 36px 8px rgba(1, 1, 1, 0.63);
    box-shadow: 0px 12px 36px 8px rgba(1, 1, 1, 0.63);
    color: var(--font-color-light);
}

#index-pagecontainer .callout select option {
    padding: 17px 20px;
}

#index-pagecontainer .callout select {
    color: var(--unselect-grey);
    /*appearance: none;*/

    border: 1px solid var(--bg-med-blue);
    /*padding: 0.25em 0.5em;*/
    /*font-size: 1.25rem;*/
    cursor: pointer;
    /*line-height: 1.1;*/
    background-color: #fff;
    /*background-image: linear-gradient(to top, #f9f9f9, #fff 33%);*/
    position: relative;
}

#index-pagecontainer .callout {
    margin-bottom: 80px;
    padding: 20px;
}

#login-box-container {
    margin-bottom: 80px;
}

#index-pagecontainer .callout select.selected-option {
    color: var(--dark-grey);
}

#index-pagecontainer .callout select option {
    color: var(--dark-grey);
}

#index-pagecontainer .callout select .default-option, #index-pagecontainer .callout select:invalid {
    color: var(--font-color-light);
}

#index-pagecontainer #join-box button, #index-pagecontainer #create-box button {
    background-color: var(--button-color-purple);
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 0;
    min-width: 50%;
    letter-spacing: 2px;
}

#selected-feature-display {
    color: var(--color-green);

    text-align: center;
}

#selected-feature-display h5 {
    font-size: 13px;
    letter-spacing: 0;
    font-weight: bolder;
    color: var(--dark-grey);
    margin-bottom: 0;
}

#selected-feature-display h4 {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold !important;
}

#selected-feature-display p {
    line-height: 1.3em;
    font-weight: lighter;
}

#footer {
    text-align: center;
    color: var(--font-color-light);
}

#footer a {
    color: var(--light-purple);
}

::-moz-selection {
    background: var(--color-green);
}

::selection {
    background: var(--color-green);
}

[hidden] {
    display: none;
}

#voting-panel {
    display: none;
}

#inviteModal {
    padding-right: 4rem;
}

#main-page-top-bar .top-bar-right i {
    margin-left: 0 !important;
    height: max-content;
    color: var(--light-purple);
}

#main-page-top-bar .top-bar-right a {
    height: min-content;
    width: min-content;
}

#main-page-top-bar .top-bar-right li {
    border: 2px solid;
    border-color: var(--light-purple);
    border-radius: 7px;
    padding: 2px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 18px;
}
.top-bar .fa-poll, .top-bar .fa-list-alt{
    font-size: 22px;
}

.top-bar .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: rgba(144, 144, 144, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    top: 120%;
    z-index: 10;
    padding: 5px 7px;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(144, 144, 144, 0.5) transparent;
}

.top-bar li:hover .tooltiptext {
    visibility: visible;
}

.top-bar, .top-bar-left, .top-bar-right, .menu {
    color: var(--color-green);
    background-color: transparent !important;
}

.menu {
    align-items: center;
}

#project-name {
}

.slider-row img {

}

.slider-row {

}

.slider-row .slider {
}

#open-feature-input {
    box-shadow: none;
    border: 0px;
    border-radius: 1em;
    width: 100%;
    background-color: transparent;
    color: #4f4f4f;
    font-weight: bold;
}

#featurePanel input, #featurePanel textarea {
    border-radius: 1em;
    border: 0px solid;
    background-color: var(--unselect-grey);
}
#featurePanel, #offCanvas{

    background-color: var(--card-grey);
}
#offCanvas{
    width:22rem;
}
.js-off-canvas-overlay{
    background: rgba(13, 13, 13, 0.4);
}

#open-feature-input-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

/* Style the tab */
.tab {
    overflow: hidden;
    //border: 1px solid #ccc;
    //background-color: #f1f1f1;
    padding-top: 15px ;
    background: transparent;
}

/* Style the buttons inside the tab */
.tab button {
/ / background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    //background-color: #ccc;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    //border-top: none;
}

#main-page-top-bar .top-bar .fa-user-plus {
    font-size: 1.4em;
}



.diagram {
    background-color: #003568;
    border-radius: 25px;
    box-shadow: 4px 4px 9px 1px #00000082;

    margin-bottom: 15px;
    display: block;
    background: transparent url('https://image.ibb.co/bT4N7T/clouds.png') top center;

}

#voting-panel {

}

#voting {
    background-color: var(--bg-grey);
    border-radius: 2em;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 30px;
}

.team-h {
    color: var(--color-green);
    /*font-size: 19px;*/
    letter-spacing: 2px;
    font-weight: unset;
    margin-bottom: 20px;
}

#my-name {
    color: var(--dark-grey);
    border: 0px solid !important;
    font-size: 1rem;
    margin: 0 29px 0 0;
}

.login-box-inner {
    padding: 10px 40px 15px 40px;
}

.login-box h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-box {
    padding: 0 20px;
}

.button.primary {
    border-radius: 10px;
}

.purple-button {
    background: var(--button-color-purple);
    border-radius: 10px;

}

.purple-button:hover, .purple-button:focus {
    background-color: var(--color-green) !important;
}

.purple-button:hover, .purple-button:focus {
    color: #FFFFFF !important;
}

.diagramUeberschrift {
    color: #ececec;
    font-size: 50px;
    padding-left: 15px;
    padding-top: 15px;
    font-weight: bold;
}

.diagramSchrift {
    color: #ececec;
    line-height: 2.0;
    padding-left: 30px;
    letter-spacing: 5px;
    font-size: 12px;
    position: relative;
    left: 25px;
    text-transform: uppercase;
}

.seite1 {
    color: #ececec;
    background-color: rgb(23, 212, 205);
}

.seite2 {
    color: #ececec;
    background-color: rgb(3, 31, 51);
}

.seite3 {
    color: #ececec;
    background-color: rgb(170, 170, 170);
}

.seite4 {
    color: #ececec;
    background-color: rgb(127, 127, 127);
}

.ergebnisBody {
    //background-color: #003568;
    background: rgb(60,60,157);
    background: linear-gradient(228deg, rgba(60,60,157,1) 0%, rgba(0,53,104,1) 100%);
}

.slider {
    background-color: var(--unselect-grey);
    border-radius: 10px;
}

.slider-handle {
    border-radius: 20px;
    background-color: var(--color-dark-blue);
}

.slider-fill {
    background-color: revert;
}
.zahl1{
    font-size: 100px;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 10px 0px 10px 0;
    line-height: 1em;
}
.zahl2{
    font-size: 70px;
    display: inline-block;
    margin: 0px;
    line-height: 1em;
    padding-left: 9px;
    padding-right: 9px;
}

th{
    text-align: left;
}
#result h6{
    text-transform: uppercase;
    background-color: var(--light-purple);
    color: white;
    padding: 10px;
    width: max-content;
    font-size: 13px;
    font-weight: bold;
    margin: 0!important;
    padding: 2px 4px;
}

.feature-result-row {
    background: var(--bg-grey);
    border-radius: 2em;
    padding: 20px;
    margin: 0 0 20px 0;
}

.delete-button {
    height: 19px;
    padding: 0;
    color: var(--dark-grey);
    position: absolute;
    right: 9%;
    min-height: 1px;
}

.bigDif {
    background: #f6ab94;
}

#userStoryInput input, #userStoryInput textarea {
    border-radius:0.5em;
}

#userStoryInput input::placeholder, #userStoryInput textarea::placeholder {
    color: #6c6565;
}
#userStoryInput{
    margin-bottom: 7px;
    margin-top: 22px;
}
#ripAuswertung, #boostAuswertung, #timeAuswertung{
    text-align: right;
}

.colorFirstLine{
    background-color: #aaa;
}

