<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVP-Finder Documentation</title>
    <link rel="stylesheet" href="./css/foundation.css">
    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
<div id="docsPageContainer">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <!-- Add content where magellan will be linked -->
            <div class="cell large-3">
                <div class="sticky-container" data-sticky-container>
                    <div class="sticky" data-sticky id="doc-menu" data-sticky-on="large">
                        <ul class="vertical menu" data-events="scroll" data-magellan data-offset="0"
                            data-active-class="is-active">
                            <li><a class="" href="#defs">Was ist ein MVP</a></li>
                            <li><a class="" href="#how">Vorgehensweise</a></li>
                            <li><a class="" href="#start">MVP-Finder</a></li>
                            <li><a class="" href="#rollen">Die Rollen</a></li>
                            <li><a class="" href="#ergebnis">Ergebnisse</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="columns large-9">
                <div class="sections">
                    <section id="defs" data-magellan-target="defs">
                        <h3>Was ist ein MVP und warum brauchen wir das?</h3>
                        <p> Das MVP, also Minimal Viable Product, ist ein brauchbares Produkt mit
                            minimalenEigenschaften. Es
                            ist eine Version eines neuen Produkts, die mit geringem Aufwand erstelltund zur Gewinnung
                            von
                            Feedback genutzt wird. Wenn die gewonnenen Informationenund das Feedback für die weitere
                            Entwicklung positiv ist, fließen diese in die Enwicklungder nächsten Version ein. So
                            entsteht am
                            Ende des Prozesses ein Produkt, das auf eineveränderte Idee zurückgehen kann, auf konkretem
                            Feedback von Kunden oder Anwendernbasiert. Ein Minimum Viable Product besitzt nur wenige
                            Features, diese müssen abermöglichst reibungslos laufen. Eigenschaften des MVPs sind also
                            Praktibilität und alleinigeExistenzfähigkeit.</p>
                    </section>
                    <section id="how" data-magellan-target="how">
                        <h3>Wie finde ich nun ein MVP? - Die Vorgehensweise</h3>
                        <h4>Produkt in Funktionen zerlegen</h4>
                        <p> Es ist zunächst wichtig, das Produkt, welches man im Sinn hat, in seine einzelnen Funktionen
                            zu zerlegen, um jeweiligen Funktionen priorisieren zu können. Das kann im <b>MVP-Finder</b>
                            in der Funktion "add Feature" realisiert werden. Einfach Das Feature beschreiben und auf
                            "save" klicken!</p>
                        <h4>Stakeholder festlegen</h4>
                        <p>Wer ist in meinem Projekt eingentlich wichitg? Wer sollte mit entscheiden was die wichtigsten
                            Funktionen/Funktionalitäten sind? Das hängt natürlich stark vom Unternehmen und vom Produkt
                            ab. In dem Abschnitt <a href="#rollen">Rollen</a> haben wir eine Einteilung vorgenommen die
                            als Grundlage genutzt werden kann. </p>
                        <h4>Bewertung der Funktionen</h4>
                        <p></p>
                    </section>
                    <section id="start" data-magellan-target="start">
                        <h3>Nutzung der MVP-Finder App</h3>
                        <h4>Raum erstellen</h4>
                        <p>Der <span>MVP-Finder</span> ist ein einfach zu bedienendes Tool. Es wird gestartet,
                            indem ein Raum erstellt wird. Dieser Raum korrespondiert mit einem Projekt/Feature,
                            das umgesetzt werden soll. Hierfür müssen <b>Name</b> des Raumerstellers, <b>Projektname</b>
                            und
                            <b>Rolle</b> des Raumgründers angegeben werden</p>
                        <h4>Einem Raum beitreten</h4>
                        <p>Die Teammitglieder, die Features hinzufügen und bewerten sollen können dem Raum über die
                            Startseite beitreten. Hierzu füllen sie in der "Beitreten"-Box (rechte Box) die Felder <b>Name</b>,
                            <b>Rolle</b> und <b>Raumnummer</b> aus. Die Raumnummer muss zuvor vom Raumersteller geteilt
                            worden sein. Jeder im Raum befindliche Nutzer kann sich die Raum-Nummer anzeigen lassen
                            indem er auf der "Nutzer-hinzufügen"-Icon in der Kopfzeile klickt. Im Moment gibt es noch
                            keine Möglickeit für den Raumersteller ungewollte Nutzer
                            zu entfernen.
                        </p>
                        <h4>Features zur Liste hinzufügen</h4>
                        <p>Die gewünschten Funktionalitäten/Funktionen/Features des Produkts müssen der Feature-Liste
                            hinzugefügt werden um sie dann bewerten zu können. Bei Erstellung des Raums sind noch keine
                            Features exsistent. Jeder Nutzer kann nun durch Klick auf das "Hinzufügen-Icon" die Feature
                            Liste öffnen und nach Belieben Features hinzufügen. Dies sollte jedes Teammitglied in der
                            Anfangsphase tun, damit möglichst alle Ideen gesammelt werden können. </p>
                        <p> Das Tool ist interaktiv und die hinzugefügten Features werden sofort jedem Nutzer, der sich
                            im Raum befindet angezeigt. Das hilft dabei Duplikate zu vermindern. Sollte ein Feature
                            trotzdem doppelt auftauchen kann es von jedem Nutzer nach Belieben wieder gelöscht
                            werden ("delete"-Button).</p>
                        <h4>Features bewerten</h4>
                        <p>Durch den Klick auf den "vote-now"-Button wird das jeweilige Feature zur Bewerung ausgewählt.
                            Bei jedem Nutzer erscheint nun ein Bewertungs-Panel. Dort schätzt der Nutzer den
                            Boost-Faktor und den Überlebensfaktor, sowie den Aufwand.</p>
                        <p>Sobald alle im Ram befindelichen Nutzer eine Bewertung abgegeben haben wird das <b>Feature-Ergebnis</b>
                            angezeigt. Dieses Ergebnis bezieht sich nur auf das aktuelle Feature. Wenn die Nutzer im
                            Mittel um mehr als 10% vom Mittelwert abweichen, wird das Ergebnis als stark variierend
                            eingestuft und markiert. Nun haben die Nutzer die Möglichkeit über ihr Ergebnis zu
                            diskutieren und bei Bedarf eine weitere Bewertungsrunde für dieses Feature zu starten.</p>
                        <h4>Endergebnis</h4>
                        <p>Das Endergebnis fasst die Bewertungen der Features zusammen. Hier werden alle Bewertungen
                            aufgelistet und die Features gemäß der Methoden im Abschnitt <a
                                    href="#ergebnis">Ergebnis</a> in Kategorien eingeteilt. Prinzipiell ist es jederzeit
                            möglich, sich ein Endergebnis anzuschauen, wirklich sinnvoll ist es allerdings erst wenn
                            alle Features auch bewertet wurden. Aus dem zwischenergebnis lassen sich dann ganz leicht
                            die dringend umzusetzenden Features ablesen.</p>
                    </section>
                    <section id="rollen" data-magellan-target="rollen">
                        <h3>Die Rollen</h3>

                        <p>Nach unserem Verständnis gibt es erschiedene Rollen, die an der Findung eines MVPs beteiligt
                            sein
                            sollten bzw. können. Im Folgenden sind die Rollen aufgelistet und kurz erklärt. Ein
                            Verständnis
                            der verschiedenen Rollen kann später bei der Interpretation der <a
                                    href="ergebnis">Ergebisse</a>
                            hilfreich sein.</p>
                        <h4>Gründer:</h4>
                        <p>Der Gründer und gleichzeitig die Führung des Start-Ups ist die Person, die die
                            ursprüngliche Vision des Produktes hat, auf welcher der gesamte Entwicklungprozessbasiert.
                            Diese
                            Person
                            hat vor allem das Endziel vor Augen und möchte sicherstellen,dass die gewählte Strategie
                            bestmöglich
                            zu dem von ihm gesetzten Ziel führt.Darüber hinaus hat er die Gestamtübersicht über interne
                            und
                            externe Interessensgruppen. Aus den genannten Gründen und besonders im Kontext eines
                            Start-Upssollte die Bewertung der Features durch den Gründer selbst direkt eingebracht
                            werden.
                        <h4>2.Product Owner</h4>
                        <p>Der Product Owner des Projektes ist eine einzelne Person und kein Team,
                            sodassgewährleistet ist, dass bei Rückfragen eine durchgehende Konsistenz der
                            Antwortenherrscht.
                            Jedoch kann der Product Owner selbst ein eigenes Team haben, welchesihn unterstützt, was
                            wiederum
                            bei der Unternehmensgröße im Falle eines Start-Upsnicht zu erwarten ist. Wie der Name sagt,
                            ist
                            der
                            "Product Owner"derjenige, dem dasProjekt quasi "gehört". Er ist verantwortlich für das
                            finanzielle
                            Ergebnis des Projektsund konzentriert sich sowohl auf die Wertmaximierung des Produktes, als
                            auch
                            aufdie Optimierung der Arbeit des Entwicklungsteams. Somit hat er sowohl den Kosten-und
                            Risiko-Aspekt vor Augen, als auch den erforderlichen Funktionsumfang, da derProduct Owner im
                            ständigen Austausch mit den (externen) Stakeholdern steht unddie Anforderungen an das
                            Produkt
                            bzw.
                            an seine Funktionalitäten sehr gut kenntund somit eine Gesamtsicht auf das Produkt
                            hat.(Quellen
                            noch
                            hinzufügen..Agiledeveloper skills & Scrum Erfolgsphänomen )
                        </p>
                        <h4>Entwickler</h4>
                        <p>Die Entwickler sind
                            diejenigen, die für die tatsächliche Implementation der einzelnenFeatures verantwortlich
                            sind.
                            Sie
                            organisieren sich selbst und haben als Entwicklerdes Produktes die Aufgabe die Ziele der
                            jeweiligen
                            Sprints, im Scrum-Kontext,umzusetzen. Sie vertreten also somit die technische Sicht
                            innerhalb
                            des
                            Projekts undkennen sowohl die Funktionen, die für die technische Infrastruktur des
                            Produktesunabdingbar sind, deren Implikationen, als auch den zeitlichen Aufwand, den die
                            Umsetzung der individuellen Features mit sich bringt, am besten. Daher sind dieEntwickler
                            vor
                            allem bei der Aufwandsschätzung gefragt, aber auch generell bei derZusammenstellung der
                            Features, die das Produkt mindestens haben sollte.</p>
                    </section>
                    <section id="ergebnis" data-magellan-target="ergebnis">
                        <h3>Ergebnis</h3>
                        <p>Generell unterteilen wir die Features in vier Gruppen</p>
                        <ol>
                            <li>

                                <b>Must have</b> Die Features die hier auftauchen sind unverzichtbare Features. Diese
                                können
                                in keinem Fall weggelassen werden, da dies zum Scheitern des gesamten Projektes führen
                                würde. Sie werden also als die Minimalanforderungen an das Produkt angesehen.
                            </li>
                            <li>

                                <b>Should have</b> Auch diese Features und Funktionen sind auch relevant für das
                                Projekt,
                                lösen jedoch kein Scheitern beim Weglassen aus. Sie sind also nicht so erfolgskritisch.
                                Wenn
                                diese Features sollten auch berücksichtigt werden, solange sie nicht im Konflikt mit den
                                Must have Features stehen.
                            </li>
                            <li>

                                <b>Could have</b> Features dieser Priorisierungsstufe haben eine geringe Relevanz und
                                werden
                                erst betrachtet,wenn obige bereits umgesetzt worden und noch Restkapazitäten zur
                                Umsetzung
                                der Could-have-Features übrig ist. Sie gehören also zu den "nice to have"-Features
                            </li>
                            <b>Won’t have</b> Diese Features haben die geringste Relevanz und werden nicht betrachtet.
                            Sie
                            besitzen dennoch fachlichen oder zeitlichen Wert und werden notiert.
                            <li></li>
                        </ol>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>