<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVP-Finder: Welcome</title>
    <link rel="stylesheet" href="./css/foundation.css">
    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
<div id="index-pagecontainer">
    <div class="grid-container">
        <div id="content">
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <h1>The MVP Finder</h1>
                </div>
            </div>
            <div id="login-box-container" class="grid-x grid-padding-x" data-equalizer data-equalize-on="large">
                <div id="create-box" class="large-6 medium-6 cell login-box">
                    <div class="primary callout">
                        <h3>Create a new Room</h3>
                        <div class="login-box-inner">
                            <label for="produkt-name">Product name:</label>
                            <input id="produkt-name" type="text" placeholder="Product name">
                            <label for="creator-name">User name:</label>
                            <input id="creator-name" type="text" placeholder="User name" onkeydown="creatRoomByEnter()">
                            <label for="create-rollen">Role:</label>
                            <select name="create-rollen" id="create-rollen" onchange="let selectedOption='selected-option';
                        this.className = selectedOption">
                                <option style="color:gray" class="default-option" disabled value="" selected>Choose a
                                    Role
                                </option>
                                <option value="Gründer">Founder</option>
                                <option value="Product Owner">Product Owner</option>
                                <option value="Entwickler">Developer</option>
                                <option value="User Experience">User Experience</option>
                                <option value="Manager">Manager</option>
                            </select>

                            <label for="setRoomPasswort">Set your Password</label>
                            <input id="setRoomPasswort" type="password" onkeydown="creatRoomByEnter()">
                            <button class="button primary" id="createRoomButton">New Room</button>
                        </div>
                    </div>
                </div>
                <div id="join-box" class="large-6 medium-6 cell login-box">
                    <div class="callout">
                        <h3>join an existing room</h3>
                        <div class="login-box-inner">
                            <label for="joiner-name">User name</label>
                            <input id="joiner-name" type="text" placeholder="User name">
                            <label for="joiner-rollen">Role:
                                <select name="joiner-rollen" id="joiner-rollen" onchange=" let selectedOption='selected-option';
                                        this.className = selectedOption">
                                    <option class="default-option" value="" disabled selected="selected">Choose a Role
                                    </option>
                                    <option value="Gründer">Founder</option>
                                    <option value="Product Owner">Product Owner</option>
                                    <option value="Entwickler">Developer</option>
                                    <option value="User Experience">User Experience</option>
                                    <option value="Manager">Manager</option>
                                </select>
                            </label>
                            <label for="room-id">Room ID</label>
                            <input id="room-id" type="text" placeholder="Room ID"
                                   onkeyup='validate(event)' onkeypress='validate(event)' onkeydown="joinRoomByEnter(this)">
                            <label for="enterRoomPasswort">Password</label>
                            <input id="enterRoomPasswort" type="password" onkeydown="joinRoomByEnterPw()">

                            <button class="button primary" id="joinRoomButton">Join Room</button>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="grid-x grid-padding-x align-center">
        <div class="cell">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div><p>In unserer <a href="/docs" target="_blank">Dokumentation</a> findet sich eine Anleitung zum Tool und ein
            wenig Hintergrundwissen</p></div>
    </div>
</div>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.js"></script>
<script src="/js/app.js"></script>
<script src="/js/main.js"></script>
</body>

</html>