<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title></title>
</head>
<body>
    <div>
        <h1>Der Raum existiert nicht</h1>
        <p>Bitte gehe zur Startseite zurück und wähle eine Gültige Id oder erstelle einen Neuen Raume</p>
        <button onclick="location.href=getURL()" type="button">
            go Back</button>
    </div>
    <script src="/js/roomDoesNotExist.js"></script>

</body>
</html>