<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Priority Planning - add Features</title>
    <link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<div id="pageContainer" class="grid-container">
    <div class="off-canvas-wrapper">
        <div class="off-canvas-content" id="offCanvas" data-off-canvas-content>
            <div class="grid-x grid-padding-x">
                <div id="rommtitle" class="large-12 cell">
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell large-3">
                    <h3>Users in the Room</h3>
                    <div id="usernames"></div>
                </div>

                <div class="cell auto">
                    <div id="voting">
                        <h3>FeatureName</h3>
                        <div id="selected-feature-display">
                            <h3 id="selected-feature-name"></h3>
                            <p id="selected-feature-descr"></p>
                        </div>
                        <button type="button" class="button" data-toggle="offCanvasRight">Open Right</button>
                        <input type="text" id="featureBewertung" value="UserStory1" disabled>
                        <input type="text" id="beschrebungBewertung" value="eine tolle beschreibung" disabled>

                        <label for="bewertung1">Ist dieses Feature ein Booser?</label>
                        <input type="range" id="bewertung1" name="bewertung1" min="0" max="100">

                        <label for="bewertung2">Können wir ohne dieses Feature überleben?</label>
                        <input type="range" id="bewertung2" name="bewertung2" min="0" max="100">

                        <label for="zeit">wie viel Aufwand bedeutet dieses Feature</label>
                        <input type="text" id="zeit" name="zeit" value="0">

                        <button class="addMore" title="erst Feature zum Voten hinzufügen" id="voteButton" disabled>Vote
                        </button>
                    </div>
                    <div id="result">
                        <h4>Bewertung</h4>
                        <h5>Boost Faktor:</h5>
                        <div id="boostAuswertung"></div>
                        <h5>RIP Faktor:</h5>
                        <div id="ripAuswertung"></div>
                        <h5>Zeit Faktor:</h5>
                        <div id="timeAuswertung"></div>
                        <button class="button" id="voteAgain">Vote Again</button>

                    </div>
                </div>
            </div>
        </div>


        <div class="off-canvas position-right" id="offCanvasRight" data-transition="overlap" data-off-canvas>
            <div class="cell large-3" id="featurePanel">
                <h3>Features</h3>
                <div>
                    <div id="userStoryBoard"></div>
                </div>
                <div>
                    <input type="text" value="" id="userStoryInput" placeholder="Feature">
                    <input type="text" id="beschreibungInput" name="beschreibung" placeholder="Beschreibung"
                           value="">
                    <button class="button" id="addFeature">Save</button>
                </div>
            </div>
            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>


<script src="/js/vendor/jquery.js"></script> <!--TODO: .. ersetzen durch annotation (auch in index.html)-->
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/screen2.js"></script>
<script src="/js/UserStory.js"></script>
<script src="/js/featureSidebar.js"></script>
<script>
    $(document).foundation();
</script>
</body>

</html>