<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title></title>
</head>

<body>
<div id="pageContainer">
    <p>Create User Stories</p>
    <p>... with some JS Magic</p>
    <div>
        <div id="usernames"/>
    </div>
    <input type="text" value="UserStory1" id="userStoryInput" placeholder="User Story">
    <button id="addUserStoryButton">Add UserStory</button>
    <div id="userStoryBoard"/>
    <button id="sendUserStoriesButton">Send</button>
    <button id="forceSendButton" style="visibility: hidden">Force Send</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/screen2.js"></script>
</body>

</html>