<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Priority Planning - add Features</title>
    <link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
<div id="pageContainer" class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <h1>PriorityPlanner: ROOM ROOMID</h1>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell large-3">
            <h3>Users in the Room</h3>
            <div id="usernames"/>
        </div></div>
        <div class="cell large-5">
            <div>
                <h3>FeatureName</h3>
                <input type="text" id="featureBewertung" value="UserStory1" >
                <input type="text" id="beschrebungBewertung" value="eine tolle beschreibung" >

                <label for="bewertung1">erste Bewertung:</label>
                <input type="range" name="bewertung1" min="0" max="100" onchange="updateTextInput(this.value);">
                <input type="text" id="bewertung1" value="50" disabled>

                <label for="bewertung2">erste Bewertung:</label>
                <input type="range" name="bewertung2" min="0" max="100" onchange="updateTextInput2(this.value);">
                <input type="text" id="bewertung2" value="50" disabled>

                <label for="zeit">wie viel Zeit wird benötigt:</label>
                <input type="text" id="zeit" name="zeit" value="0">

                <button class="button" id="voteButton">Vote</button>
                <select>
                    <option value="UserStory1">UserStory1</option>
                </select>
                <button class="button" id="addToVoteButton">add to Vote</button>
            </div>


        </div>
        <div class="cell large-4">
            <div class="grid-x grid-padding-x">
                <div class="cell large-6">
                    <h3>Features</h3>
                </div>
                <div class="cell large-6">
                    <button class="button" id="sendUserStoriesButton">Add Userstory</button>
                    <button class="button" id="addFeature">Add Feature</button>
                </div>

            </div>
            <div>
                <label for="userStoryInput">Name der UserStory:</label>
                <input type="text" value="UserStory1" id="userStoryInput" placeholder="User Story">
                <label for="beschreibung">Beschreibung:</label>
                <input type="text" id="beschreibung" name="beschreibung" value="Beschreibung">

<!--                <button class="button" id="forceSendButton" style="visibility: hidden">Force Send</button>-->
            </div>
            <div>
                <div id="userStoryBoard"/>
            </div>
        </div>
    </div>
</div>


<script src="../js/vendor/jquery.js"></script> <!--TODO: .. ersetzen durch annotation (auch in index.html)-->
<script src="../js/vendor/what-input.js"></script>
<script src="../js/vendor/foundation.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/screen2.js"></script>
<script src="/js/UserStory.js"></script>
</body>

</html>